# Individual Project 2
Brian Johnston  
v1.0  
SP2021 - DS-160-01

In [1]:
import pandas as pd

1.

In [2]:
df = pd.read_csv('weather_2012.csv')

2.

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8013,2012-11-29 21:00:00,-6.4,-12.3,63,19,25.0,102.18,Cloudy
5263,2012-08-07 07:00:00,19.6,16.1,80,15,48.3,101.01,Mainly Clear
2531,2012-04-15 11:00:00,17.3,9.7,61,28,24.1,100.68,Mainly Clear
7554,2012-11-10 18:00:00,3.4,-7.0,46,7,25.0,102.53,Mostly Cloudy
6948,2012-10-16 12:00:00,7.8,1.6,65,28,24.1,100.35,Cloudy

3.

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

4.

In [7]:
columns_copy = ['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']
df.columns = ['date_time', 'temp_c',
'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']

5.

In [8]:
df.describe(include='all')

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784
unique,8784,NaN,NaN,NaN,NaN,NaN,NaN,50
top,2012-03-09 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Mainly Clear
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,2106
mean,NaN,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,NaN
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,NaN
min,NaN,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,NaN
25%,NaN,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,NaN
50%,NaN,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,NaN
75%,NaN,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,NaN
max,NaN,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,NaN

6.

In [9]:
df['temp_f'] = (df['temp_c'] * 9/5) + 32

7.

In [10]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather', 'temp_f'],
      dtype='object')

In [11]:
col_names = ['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather']

In [12]:
df = df[col_names]

In [13]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

8.

In [14]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

9.

In [15]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [16]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

10.

In [17]:
monthly_avg = pd.DataFrame(df['temp_f'].groupby(pd.DatetimeIndex(df['date_time']).month).mean())
monthly_avg.head()

              temp_f
date_time
1          18.731290
2          24.395000
3          37.618226
4          44.616750
5          61.227984

11.

In [18]:
monthly_avg['month'] = (monthly_avg.index)
monthly_avg.head()

              temp_f  month
date_time
1          18.731290      1
2          24.395000      2
3          37.618226      3
4          44.616750      4
5          61.227984      5

12.

In [19]:
col_names_MA = ['month','temp_f']
monthly_avg = monthly_avg[col_names_MA]
monthly_avg.head()

           month     temp_f
date_time
1              1  18.731290
2              2  24.395000
3              3  37.618226
4              4  44.616750
5              5  61.227984

13.

In [20]:
monthly_avg.index.names = ['']
monthly_avg.head()

   month     temp_f

1      1  18.731290
2      2  24.395000
3      3  37.618226
4      4  44.616750
5      5  61.227984

14.

In [21]:
def num_to_month(num):
    dic_months = {
    '1' :'January',
    '2' :'February',
    '3':'March',
    '4':'April',
    '5':'May',
    '6':'June',
    '7':'July',
    '8':'August',
    '9':'September',
    '10':'October',
    '11':'November',
    '12':'December'
    }
    return(dic_months.get(str(num)))

In [22]:
monthly_avg['month'] = list(map(num_to_month,monthly_avg['month']))
monthly_avg.head()

      month     temp_f

1   January  18.731290
2  February  24.395000
3     March  37.618226
4     April  44.616750
5       May  61.227984

15.

In [23]:
hourly_avg = pd.DataFrame(df['temp_f'].groupby(pd.DatetimeIndex(df['date_time']).hour).mean())
hourly_avg.head()

              temp_f
date_time
0          45.623443
1          44.762787
2          43.980820
3          43.325246
4          42.744426

16.

In [24]:
hourly_avg.index.names = ['Hour']
hourly_avg.head()

         temp_f
Hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426

17.

In [25]:
def num_to_hour(num):
    dic_hours = {
    '0':'12:00AM',
    '1':'1:00AM',
    '2':'2:00AM',
    '3':'3:00AM',
    '4':'4:00AM',
    '5':'5:00AM',
    '6':'6:00AM',
    '7':'7:00AM',
    '8':'8:00AM',
    '9':'9:00AM',
    '10':'10:00AM',
    '11':'11:00AM',
    '12':'12:00PM',
    '13':'1:00PM',
    '14':'2:00PM',
    '15':'3:00PM',
    '16':'4:00PM',
    '17':'5:00PM',
    '18':'6:00PM',
    '19':'7:00PM',
    '20':'8:00PM',
    '21':'9:00PM',
    '22':'10:00PM',
    '23':'11:00PM'
    }
    return(dic_hours.get(str(num)))

In [26]:
hourly_avg.index = list(map(num_to_hour,hourly_avg.index))
hourly_avg.head()

            temp_f
12:00AM  45.623443
1:00AM   44.762787
2:00AM   43.980820
3:00AM   43.325246
4:00AM   42.744426

18.

In [27]:
df['weather'].groupby(df['weather']).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

19.

In [28]:
set_weather = set([])
set_placeholder = set(df['weather'])
for i in set_placeholder:
    if ',' in i == False:
        set_weather.add(i)
    else:
        split_text = i.split(',')
        for j in split_text:
            set_weather.add(j)
print(set_weather)

{'Snow Grains', 'Snow Showers', 'Fog', 'Thunderstorms', 'Haze', 'Heavy Rain Showers', 'Moderate Rain', 'Blowing Snow', 'Moderate Rain Showers', 'Freezing Drizzle', 'Mostly Cloudy', 'Mainly Clear', 'Snow', 'Ice Pellets', 'Freezing Rain', 'Moderate Snow', 'Clear', 'Freezing Fog', 'Cloudy', 'Snow Pellets', 'Drizzle', 'Rain', 'Rain Showers'}

20.

In [29]:
alphabetized = sorted(list(set_weather))
print(alphabetized)

['Blowing Snow', 'Clear', 'Cloudy', 'Drizzle', 'Fog', 'Freezing Drizzle', 'Freezing Fog', 'Freezing Rain', 'Haze', 'Heavy Rain Showers', 'Ice Pellets', 'Mainly Clear', 'Moderate Rain', 'Moderate Rain Showers', 'Moderate Snow', 'Mostly Cloudy', 'Rain', 'Rain Showers', 'Snow', 'Snow Grains', 'Snow Pellets', 'Snow Showers', 'Thunderstorms']

21.

In [30]:
columns_copy[1:1] = ['Temp (F)']
print(columns_copy)

['Date/Time', 'Temp (F)', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)', 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

In [31]:
df.columns = columns_copy

In [32]:
df.head()

,Date/Time,Temp (F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

22.

In [33]:
df.to_csv('weather_2012_new.csv',index=False)

23.

In [34]:
monthly_avg.to_csv('monthly_avg.csv',index=False)
hourly_avg.to_csv('hourly_avg.csv',index=False)